//! Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$xldesktop: 3840px;

//! colores
$blanco: #EEEEF2;
$negro: #151515;
$gris: #262626;
$azulclaro: #6FB1FC;

//! Fuente
$fuentePrinciapl: "Outfit", sans-serif;
$fuenteTitulo: "Great Vibes", cursive;